			<section class="family">
				<header class="family-header">
					<h3 class="family-header-title">The Dinasty</h3>
					<p class="family-header-subtitle">Carrying forward the wisdom and values of Donatien Malala.</p>
				</header>
			
			
				<div class="family-content">
					<div class="family-content-side is-sideOne">
						<div class="family-content-box is-boxSmall">
							<figure class="family-content-box-figure"><img src="/assets/images/family-Estelle.png" /></figure>
							<div class="family-content-box-review"><div class="family-content-box-review-dock">
								"My father, Donatien Malala, is not only an esteemed economist but also a cherished family member whose wisdom and compassion continue to touch the lives of many. <!-- His insights inspire us all, and I hope this website serves as a testament to his profound impact on both our family and the broader community.-->" -- Madam Ella.
							</div></div>
						</div>
						
						<div class="family-content-box is-boxBig">
							<div class="u-btn_tap">Press</div>
							<figure class="family-content-box-figure"><img src="/assets/images/family-MadamElla2.png" /></figure>
						</div>
					</div>
					
					<div class="family-content-side is-sideTwo">
						<div class="family-content-box is-boxSmall">
							<figure class="family-content-box-figure"><img src="/assets/images/family-Divine2.png" /></figure>
							<div class="family-content-box-review"><!--<div class="family-content-box-review-dock">
								AAA
							</div>--></div>
						</div>
						
						<div class="family-content-box is-boxBig">
							<div class="u-btn_tap">Press</div>
							<figure class="family-content-box-figure"><img src="/assets/images/family-Laurent.png" /></figure>
						</div>
					</div>
				</div>
			</section>